* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  overflow-x: hidden;
}

html {
  font-size: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 156, 156);
}

h1 {
  font-size: 5em;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.with-p {
  width: 50vw;
  margin-bottom: "2.5em";
}

.with-p p {
  font-size: 1.4em;
}

.section-content {
  margin-left: 15vw;
  overflow: hidden;
}

@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 3.5em;
  }

  .section {
    justify-content: center;
  }

  .with-p {
    width: 100%;
  }

  .section-content {
    margin: 0;
    width: 80%;
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 3em;
  }

  .section {
    justify-content: center;
  }

  .with-p {
    width: 100%;
  }

  .section-content {
    margin: 0;
    width: 80%;
  }

  .with-p p {
    font-size: 1.2em;
  }
}
