* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  overflow-x: hidden;
}

html {
  font-size: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 156, 156);
}

h1 {
  font-size: 5em;
}

.section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.with-p {
  max-width: 40vw;
}

.with-p p {
  font-size: 1.4em;
}

.section-content {
  margin: 0 0 0 15vw;
  padding: 50px 0;
  width: 100vw;
  overflow: hidden;
}

.section-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 15vw;
}

.skill-icons-wide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 40vw;
  padding-left: 30px;
  column-gap: 30px;
  row-gap: 15px;
}

.skill-icons-tall {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 30px;
  row-gap: 15px;
  padding-top: 25px;
}

.skill-icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.skill-icons-tall .skill-icon-group .skill-icon {
  width: 60px;
  height: 60px;
}

.skill-icons-wide .skill-icon-group .skill-icon {
  width: 80px;
  height: 80px;
}

.skill-icon {
  padding-top: 10px;
  padding-bottom: 10px;
}

.skill-icon-filler {
  width: 80px;
}

@media only screen and (max-width: 950px) {
  h1 {
    font-size: 3.5em;
  }

  .section {
    justify-content: center;
  }

  .with-p {
    max-width: 100%;
  }

  .section-content {
    margin: 0;
    width: 80%;
  }

  .skill-icons-tall {
    display: flex;
    justify-content: space-between;
  }

  .skill-icons-wide {
    display: none;
  }
  .skill-icon-filler {
    width: 60px;
  }
}

@media (max-device-width: 640px) {
  h1 {
    font-size: 3em;
  }

  .with-p p {
    font-size: 1.2em;
  }
}
